@import '~antd/dist/antd.css';

html {
   overflow: auto;
}
#root,
body,
html {
   height: 100%;
   width: 100%;
}
#app {
   position: relative;
   background: #fff;
   min-height: 100vh;
}

.menu {
   width: 100%;
   padding: 0 20px;
   line-height: 63px;
   border: 0;
}
@media (max-width: 48em) {
   .menu {
      padding: 0;
   }
}

.app-header {
   display: flex;
   background: #fff;
   box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
   padding: 0;
   z-index: 1000;
   backdrop-filter: blur(10px);
}

.app-header__logo-search-section {
   display: flex;
   align-items: center;
   flex-grow: 1;
}

.app-header__logo {
   display: inline-block;
   padding: 0 20px;
}

.app-header__logo img {
   width: 36px;
}

.app-header__search-input {
   display: flex;
   align-items: center;
   flex-grow: 1;
   padding-right: 10px;
}
.app-header__search-input .ant-input-group {
   border: 0;
   width: 100%;
   max-width: 460px;
}
.app-header__search-input .ant-input-group input {
   border: 1px solid #f0f1f2;
   box-shadow: 0 2px 4px rgba(29, 34, 108, 0.1);
}
.app-header__menu-section {
   float: right;
}
